<div id="<%= dom_id game %>">
  <p>
    <strong>State:</strong>
    <%= game.state %>
  </p>

  <p>
    <strong>Turn:</strong>
    <%= game.turn %>
  </p>

  <p>
    <strong>Fen:</strong>
    <%= game.fen %>
  </p>
  <p>
    <strong>Pgn:</strong>
    <%= game.pgn %>
  </p>

  <p>
    <strong>White player:</strong>
    <%= game.white_player_id %>
  </p>

  <p>
    <strong>Black player:</strong>
    <%= game.black_player_id %>
  </p>

</div>
